#body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c202f;
  text-align: justify;
}

label {
  color: #446ac3;
  font-weight: bold;
}

#btnTop {
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none; }


#envoiyer {
  background-color: #446ac3;
}

p {
  text-align: justify;
  margin: 15px;
}

#h2{
  font-weight: bold;
  color: #0b3494;
  text-decoration: none;
  margin: 15px;
  ; 
}

#a {
  text-decoration: none;
  font-weight: bold;
  color: #0b3494;
}

#a:hover {
  color: #004cff;
  text-decoration: none;
}

#image_selection_photos {
  width: 80%;
  height: 500px;
}
.image_accueil {
  margin: 20px;
  height: 320px;
  width: 267px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

#dropdown-menu {
  position: relative;
  display: none;
}

.dropdown-submenu:hover #dropdown-menu {
  display: block;
  position: absolute;
  top: auto;
  left: 100%;
  margin-top: -50px;
}

iframe {
  margin: 15px 0;
  max-width: 100%;
}

.image_best_pfe {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px #00000033;
}

.best_pfe {
  margin: 0 auto;
  padding: 3px;
}

@media (max-width: 768px) {
  .best_pfe img {
    margin-bottom: 10px;
  }
}

.navbar {
  background-color: #0b3494e9;
}

.navbar .nav-link {
  color: #f0f8ff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #1a5dff;
}

.navbar .navbar-toggler {
  border: none;
  background-color: #f0f8ff;
}

.navbar .dropdown-menu {
  background-color: #0b3494;
  border: none;
  border-radius: 0;
}

.navbar .dropdown-item {
  color: #f0f8ff;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background-color: #1a5dff;
  color: #fff;
}

.navbar .dropdown-menu .dropdown-item .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -1px;
  border-radius: 0;
  background-color: #0b3494e9;
}

.navbar .dropdown-menu .dropdown-item:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #1a5dff;
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
  }

  .navbar .dropdown-menu .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

#span_footer {
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #0b3494;
}
#prenom_arab, #nom_arab {
  direction: rtl;
  text-align: right;
  unicode-bidi: bidi-override;
}